@import url('https://fonts.googleapis.com/css2?family=Inder&display=swap');

:root {
  --paleLavender: #E5D7F5;
  --tropicViolet: #C2B0D6;
  --paleViolet: #BE89FF;
  --purpleTaupe:  #483C55;
  --arsenic: #3E344B;
  --russianViolet: #2E1B47;
  --darkCharcoal: #322B3B;
}

* {
  margin: 0;
  font-family: Inder;
}


/* ####### Font sizes #######*/
h1 {
  font-size: 3.5em;
  font-weight: 500;
}

h2 {
  font-size: 2em;
  font-weight: 500;
}

th, label, button, p {
  font-size: 1.3em;
}

td, input {
  font-size: 1.1em;
}




/* ####### Colors & Borders ####### */
body {
  background-color: var(--arsenic);
}

h1, h2, button, p {
  color: var(--paleViolet);
}

label, th {
  color: var(--paleLavender);
  background-color: var(--purpleTaupe);
  border: 1px solid var(--paleLavender);
}

th {
  border-right: none;
}

#right-th {
  border-right: 1px solid var(--paleLavender);
}

td {
  color: var(--darkCharcoal);
}

button {
  background-color: var(--russianViolet);
  border: 1px solid var(--paleViolet);

  &:hover {
    cursor: pointer;
    background-color: hsl(from var(--russianViolet) h s 25%);
  }

  &:focus {
    background-color: hsl(from var(--russianViolet) h s 25%);
    outline: none;
  }
}

input {
  background-color: var(--paleLavender);

  &::placeholder {
    color: hsla(from var(--darkCharcoal) h s l / 70%);
  }

  &:focus {
    outline: 3px solid var(--paleViolet);
  }
}

.content-container {
  background-color: var(--darkCharcoal);
  border: 1px solid var(--paleLavender);

  scrollbar-color: var(--purpleTaupe) var(--paleLavender);
}

.movie-row:nth-child(odd) {
  background-color: var(--tropicViolet);
}

.movie-row {
  background-color: var(--paleLavender);
}



/* ####### Whole Body #######*/
body {
  margin: 0 16dvw;
}

h1 {
  text-align: center;
  padding: 10px 0;
}

section {
  margin-bottom: 4dvh;
}

input {
  padding: 0;
  padding-inline-start: 10px;
}

button {
  padding: 5px;
}



/* ####### Search section #######*/
#form-search {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
}

#form-search input {
  min-width: 350px;
  height: 100%;
  border: none;
}

#form-buttons {
  display: flex;
}

#form-buttons button {
  margin-left: 10px;
  min-width: 165px;
}



/* ####### List section ####### */
#list-top-row {
  display: flex;
  justify-content: space-between;
}

#list-buttons {
  display: flex;
  flex-direction: row;
}

#list-buttons button {
  min-width: 110px;
  margin-left: 10px;
}

#list-display .content-container {
  max-height: 32dvh;
  overflow-y: auto;
  margin-top: 5px;
}

#movie-list {
  margin-top: 2px;
  padding: 10px;
  min-width: 100%;
  border-spacing: 0;
  table-layout: fixed;
}

th:nth-child(4), th:nth-child(3) {
  width: 18%;
}

#movie-list th {
  font-weight: 100;
  padding: 5px 0;
}

#movie-list td {
  padding: 6px 0;
  text-align: center;
}



/* ####### Add section ####### */
#add-movie .content-container {
  margin-top: 5px;
}

#add-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.add-row {
  display: flex;
  margin-bottom: 10px;
}

#add-form label {
  min-width: 100px;
  text-align: center;
  padding: 5px;
  margin-right: 10px;
}

#add-form input {
  min-width: 500px;
  border: none;
}

/* ####### Footer ####### */
footer div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 1dvh;
}
